In [1]:
#isolation forest
#Minimum Covariance Determinant
#Local Outlier Factor
#One-Class SVM
import pandas as pd

In [10]:
df = pd.read_csv('housing_1.csv')

In [11]:
df.head()

,0.00632,18.00,2.310,0,0.5380,6.5750,65.20,4.0900,1,296.0,15.30,396.90,4.98,24.00
0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
1,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
4,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0.00632  505 non-null    float64
 1   18.00    505 non-null    float64
 2   2.310    505 non-null    float64
 3   0        505 non-null    int64
 4   0.5380   505 non-null    float64
 5   6.5750   505 non-null    float64
 6   65.20    505 non-null    float64
 7   4.0900   505 non-null    float64
 8   1        505 non-null    int64
 9   296.0    505 non-null    float64
 10  15.30    505 non-null    float64
 11  396.90   505 non-null    float64
 12  4.98     505 non-null    float64
 13  24.00    505 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.4 KB

In [14]:
df.isnull().sum()

0.00632    0
18.00      0
2.310      0
0          0
0.5380     0
6.5750     0
65.20      0
4.0900     0
1          0
296.0      0
15.30      0
396.90     0
4.98       0
24.00      0
dtype: int64

In [43]:
from sklearn.model_selection import train_test_split
data = df.values
x,y = data[:,:-1], data[:,-1]
print(x.shape,y.shape)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=0)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(505, 13) (505,)
(338, 13) (167, 13) (338,) (167,)

# Baseline Model Performance

In [40]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
model = LinearRegression()
model.fit(x_train,y_train)
#evalute model
yhat = model.predict(x_test)
#evalute predictions
mae = mean_absolute_error(y_test,yhat)
print("MAE: %0.3f"%mae)

MAE: 3.656

# Automatic Outlier Detection

## Method-1 ISOLATION FOREST

In [42]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import IsolationForest
from sklearn.metrics import mean_absolute_error

iso = IsolationForest(contamination=0.1)
yhat = iso.fit_predict(x_train)

#select 
mask = yhat != -1

x_train, y_train = x_train[mask,:],y_train[mask]
print(x_train.shape,y_train.shape)

model = LinearRegression()
model.fit(x_train,y_train)

yhat = model.predict(x_test)

mae = mean_absolute_error(y_test,yhat)
print("MAE: %5.3f"%mae)

(273, 13) (273,)
MAE: 3.575