In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('ANN_Dataset.csv')

In [4]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
pip install Tensorflow

^C
Note: you may need to restart the kernel to use updated packages.

In [8]:
import tensorflow as tf

In [9]:
x = data.iloc[:,3:-1].values
y = data.iloc[:,-1].values
print(x)
print(y)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
[1 0 1 ... 1 1 0]

In [13]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\aksha\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\aksha\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: joblib>=1.0.0 in c:\users\aksha\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\aksha\anaconda3\lib\site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\aksha\anaconda3\lib\site-packages (from scikit-learn) (1.7.3)
Note: you may need to restart the kernel to use updated packages.

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x[:,2] = le.fit_transform(x[:,2])
print(x)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder='passthrough')
x = np.array(ct.fit_transform(x))
print(x)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.2,random_state=0)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(8000, 12) (2000, 12) (8000,) (2000,)

In [20]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [14]:
x

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [22]:
#initializing the ANN
ann = tf.keras.models.Sequential()

In [23]:
#Adding the input layer and the first hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [24]:
#Adding the second hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [25]:
#Adding the output layer
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [27]:
#compiling the ANN
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [36]:
#training the ANN on the training set
ann.fit(x_train,y_train,batch_size=32,epochs=50)

Epoch 1/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3319 - accuracy: 0.8641
Epoch 2/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3319 - accuracy: 0.8641
Epoch 3/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3318 - accuracy: 0.8633
Epoch 4/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3317 - accuracy: 0.8652
Epoch 5/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3319 - accuracy: 0.8643
Epoch 6/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3317 - accuracy: 0.8640
Epoch 7/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3316 - accuracy: 0.8648
Epoch 8/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3316 - accuracy: 0.8650
Epoch 9/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3319 - accuracy: 0.8635
Epoch 10/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3318 - accuracy: 0.8644
Epoch 11/50
250/250 [==============================] - 1s 6ms/step - loss: 0.3318 - accuracy: 0.8637
Epoch 12/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3315 - accuracy: 0.8639
Epoch 13/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3318 - accuracy: 0.8635
Epoch 14/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3315 - accuracy: 0.8654
Epoch 15/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3318 - accuracy: 0.8652
Epoch 16/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3317 - accuracy: 0.8645
Epoch 17/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3318 - accuracy: 0.8648
Epoch 18/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3314 - accuracy: 0.8655
Epoch 19/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3319 - accuracy: 0.8634
Epoch 20/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3314 - accuracy: 0.8650
Epoch 21/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3317 - accuracy: 0.8649
Epoch 22/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3315 - accuracy: 0.8648
Epoch 23/50
250/250 [==============================] - 2s 6ms/step - loss: 0.3317 - accuracy: 0.8665
Epoch 24/50
250/250 [==============================] - 2s 7ms/step - loss: 0.3314 - accuracy: 0.8660
Epoch 25/50
250/250 [==============================] - 1s 6ms/step - loss: 0.3314 - accuracy: 0.8651
Epoch 26/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3316 - accuracy: 0.8644
Epoch 27/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3315 - accuracy: 0.8650
Epoch 28/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3312 - accuracy: 0.8649
Epoch 29/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3313 - accuracy: 0.8633
Epoch 30/50
250/250 [==============================] - 2s 6ms/step - loss: 0.3316 - accuracy: 0.8649
Epoch 31/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3313 - accuracy: 0.8646
Epoch 32/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3312 - accuracy: 0.8652
Epoch 33/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3315 - accuracy: 0.8664
Epoch 34/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3312 - accuracy: 0.8652
Epoch 35/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3315 - accuracy: 0.8648
Epoch 36/50
250/250 [==============================] - 1s 6ms/step - loss: 0.3313 - accuracy: 0.8650
Epoch 37/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3313 - accuracy: 0.8650
Epoch 38/50
250/250 [==============================] - 1s 6ms/step - loss: 0.3311 - accuracy: 0.8643
Epoch 39/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3314 - accuracy: 0.8645
Epoch 40/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3313 - accuracy: 0.8643
Epoch 41/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3312 - accuracy: 0.8649
Epoch 42/50
250/250 [==============================] - 1s 6ms/step - loss: 0.3314 - accuracy: 0.8641
Epoch 43/50
250/250 [==============================] - 2s 9ms/step - loss: 0.3312 - accuracy: 0.8643
Epoch 44/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3312 - accuracy: 0.8641
Epoch 45/50
250/250 [==============================] - 2s 7ms/step - loss: 0.3312 - accuracy: 0.8660
Epoch 46/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3312 - accuracy: 0.8639
Epoch 47/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3312 - accuracy: 0.8643
Epoch 48/50
250/250 [==============================] - 1s 6ms/step - loss: 0.3312 - accuracy: 0.8636
Epoch 49/50
250/250 [==============================] - 2s 6ms/step - loss: 0.3311 - accuracy: 0.8648
Epoch 50/50
250/250 [==============================] - 1s 6ms/step - loss: 0.3309 - accuracy: 0.8649

In [37]:
print(ann.predict(sc.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]])) > 0.5)

1/1 [==============================] - 0s 39ms/step
[[False]]

In [38]:
y_pred = ann.predict(x_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

63/63 [==============================] - 0s 3ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [39]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_pred,y_test)

[[1521   74]
 [ 200  205]]

0.863