In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Heart.csv')
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [3]:
data=pd.get_dummies(data,columns= ['Sex', 'ChestPainType','RestingECG','ExerciseAngina','ST_Slope'])
data

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_F,Sex_M,ChestPainType_ASY,...,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,1,0,0,...,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,0,1,0,...,0,0,0,0,1,1,0,0,0,1
3,48,138,214,0,108,1.5,1,1,0,1,...,0,0,0,1,0,0,1,0,1,0
4,54,150,195,0,122,0.0,0,0,1,0,...,1,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,132,1.2,1,0,1,0,...,0,1,0,1,0,1,0,0,1,0
914,68,144,193,1,141,3.4,1,0,1,1,...,0,0,0,1,0,1,0,0,1,0
915,57,130,131,0,115,1.2,1,0,1,1,...,0,0,0,1,0,0,1,0,1,0
916,57,130,236,0,174,0.0,1,1,0,0,...,0,0,1,0,0,1,0,0,1,0
917,38,138,175,0,173,0.0,0,0,1,0,...,1,0,0,1,0,1,0,0,0,1

In [4]:
fc=data.pop('HeartDisease')
data.insert(len(list(data)), 'HeartDisease', fc)
data

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,Sex_F,Sex_M,ChestPainType_ASY,ChestPainType_ATA,...,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up,HeartDisease
0,40,140,289,0,172,0.0,0,1,0,1,...,0,0,1,0,1,0,0,0,1,0
1,49,160,180,0,156,1.0,1,0,0,0,...,0,0,1,0,1,0,0,1,0,1
2,37,130,283,0,98,0.0,0,1,0,1,...,0,0,0,1,1,0,0,0,1,0
3,48,138,214,0,108,1.5,1,0,1,0,...,0,0,1,0,0,1,0,1,0,1
4,54,150,195,0,122,0.0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,132,1.2,0,1,0,0,...,1,0,1,0,1,0,0,1,0,1
914,68,144,193,1,141,3.4,0,1,1,0,...,0,0,1,0,1,0,0,1,0,1
915,57,130,131,0,115,1.2,0,1,1,0,...,0,0,1,0,0,1,0,1,0,1
916,57,130,236,0,174,0.0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,1
917,38,138,175,0,173,0.0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0

In [5]:
X=data.iloc[: , :-1].values
Y=data.iloc[: ,-1].values
data

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,Sex_F,Sex_M,ChestPainType_ASY,ChestPainType_ATA,...,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up,HeartDisease
0,40,140,289,0,172,0.0,0,1,0,1,...,0,0,1,0,1,0,0,0,1,0
1,49,160,180,0,156,1.0,1,0,0,0,...,0,0,1,0,1,0,0,1,0,1
2,37,130,283,0,98,0.0,0,1,0,1,...,0,0,0,1,1,0,0,0,1,0
3,48,138,214,0,108,1.5,1,0,1,0,...,0,0,1,0,0,1,0,1,0,1
4,54,150,195,0,122,0.0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,132,1.2,0,1,0,0,...,1,0,1,0,1,0,0,1,0,1
914,68,144,193,1,141,3.4,0,1,1,0,...,0,0,1,0,1,0,0,1,0,1
915,57,130,131,0,115,1.2,0,1,1,0,...,0,0,1,0,0,1,0,1,0,1
916,57,130,236,0,174,0.0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,1
917,38,138,175,0,173,0.0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X=sc.fit_transform(X)

In [11]:
X

array([[-1.4331398 ,  0.41090889,  0.82507026, ..., -0.27144836,
        -1.00218103,  1.15067399],
       [-0.47848359,  1.49175234, -0.17196105, ..., -0.27144836,
         0.99782372, -0.86905588],
       [-1.75135854, -0.12951283,  0.7701878 , ..., -0.27144836,
        -1.00218103,  1.15067399],
       ...,
       [ 0.37009972, -0.12951283, -0.62016778, ..., -0.27144836,
         0.99782372, -0.86905588],
       [ 0.37009972, -0.12951283,  0.34027522, ..., -0.27144836,
         0.99782372, -0.86905588],
       [-1.64528563,  0.30282455, -0.21769643, ..., -0.27144836,
        -1.00218103,  1.15067399]])

In [12]:
list(data)

['Age',
 'RestingBP',
 'Cholesterol',
 'FastingBS',
 'MaxHR',
 'Oldpeak',
 'Sex_F',
 'Sex_M',
 'ChestPainType_ASY',
 'ChestPainType_ATA',
 'ChestPainType_NAP',
 'ChestPainType_TA',
 'RestingECG_LVH',
 'RestingECG_Normal',
 'RestingECG_ST',
 'ExerciseAngina_N',
 'ExerciseAngina_Y',
 'ST_Slope_Down',
 'ST_Slope_Flat',
 'ST_Slope_Up',
 'HeartDisease']

In [28]:
features=['Age',
 'RestingBP',
 'Cholesterol',
 'FastingBS',
 'MaxHR',
 'Oldpeak',
 'Sex_F',
 'Sex_M',
 'ChestPainType_ASY',
 'ChestPainType_ATA',
 'ChestPainType_NAP',
 'ChestPainType_TA',
 'RestingECG_LVH',
 'RestingECG_Normal',
 'RestingECG_ST',
 'ExerciseAngina_N',
 'ExerciseAngina_Y',
 'ST_Slope_Down',
 'ST_Slope_Flat',
 'ST_Slope_Up'
 ]

In [29]:
X_data=pd.DataFrame(X, columns =features)

In [30]:
X_data

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,Sex_F,Sex_M,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,-1.433140,0.410909,0.825070,-0.551341,1.382928,-0.832432,-0.515952,0.515952,-1.084138,2.075177,-0.532838,-0.229679,-0.507478,0.814275,-0.490449,0.823556,-0.823556,-0.271448,-1.002181,1.150674
1,-0.478484,1.491752,-0.171961,-0.551341,0.754157,0.105664,1.938163,-1.938163,-1.084138,-0.481887,1.876744,-0.229679,-0.507478,0.814275,-0.490449,0.823556,-0.823556,-0.271448,0.997824,-0.869056
2,-1.751359,-0.129513,0.770188,-0.551341,-1.525138,-0.832432,-0.515952,0.515952,-1.084138,2.075177,-0.532838,-0.229679,-0.507478,-1.228087,2.038947,0.823556,-0.823556,-0.271448,-1.002181,1.150674
3,-0.584556,0.302825,0.139040,-0.551341,-1.132156,0.574711,1.938163,-1.938163,0.922392,-0.481887,-0.532838,-0.229679,-0.507478,0.814275,-0.490449,-1.214246,1.214246,-0.271448,0.997824,-0.869056
4,0.051881,0.951331,-0.034755,-0.551341,-0.581981,-0.832432,-0.515952,0.515952,-1.084138,-0.481887,1.876744,-0.229679,-0.507478,0.814275,-0.490449,0.823556,-0.823556,-0.271448,-1.002181,1.150674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,-0.902775,-1.210356,0.596393,-0.551341,-0.188999,0.293283,-0.515952,0.515952,-1.084138,-0.481887,-0.532838,4.353909,-0.507478,0.814275,-0.490449,0.823556,-0.823556,-0.271448,0.997824,-0.869056
914,1.536902,0.627078,-0.053049,1.813758,0.164684,2.357094,-0.515952,0.515952,0.922392,-0.481887,-0.532838,-0.229679,-0.507478,0.814275,-0.490449,0.823556,-0.823556,-0.271448,0.997824,-0.869056
915,0.370100,-0.129513,-0.620168,-0.551341,-0.857069,0.293283,-0.515952,0.515952,0.922392,-0.481887,-0.532838,-0.229679,-0.507478,0.814275,-0.490449,-1.214246,1.214246,-0.271448,0.997824,-0.869056
916,0.370100,-0.129513,0.340275,-0.551341,1.461525,-0.832432,1.938163,-1.938163,-1.084138,2.075177,-0.532838,-0.229679,1.970528,-1.228087,-0.490449,0.823556,-0.823556,-0.271448,0.997824,-0.869056
917,-1.645286,0.302825,-0.217696,-0.551341,1.422226,-0.832432,-0.515952,0.515952,-1.084138,-0.481887,1.876744,-0.229679,-0.507478,0.814275,-0.490449,0.823556,-0.823556,-0.271448,-1.002181,1.150674

In [31]:
from sklearn.decomposition import PCA
pca=PCA(n_components=10)
principalComponents=pca.fit_transform(X)
principalDF=pd.DataFrame(data=principalComponents, columns=['pc1','pc2','pc3','pc4','pc5','pc6','pc7','pc8','pc9','pc10'])

In [33]:
principalDF

,pc1,pc2,pc3,pc4,pc5,pc6,pc7,pc8,pc9,pc10
0,3.093840,-1.389294,-0.301527,-0.913843,-1.333617,-0.677974,-0.250407,-1.118541,0.015447,-0.739452
1,1.517506,1.787498,-1.681772,0.675366,2.602444,0.476156,-0.565643,-0.654072,0.073091,-0.068193
2,1.930334,-0.781069,1.468639,1.107163,-1.875514,-1.730218,-1.016885,-0.670222,0.898423,-0.806798
3,-1.369464,1.587755,-3.259368,0.956458,0.015208,0.082938,0.103764,0.231374,0.174221,0.557463
4,1.713250,-1.180750,0.563656,-0.145108,1.318013,0.481002,-1.370327,-0.694537,-1.398460,0.848194
...,...,...,...,...,...,...,...,...,...,...
913,0.592221,-0.752885,-0.091997,-1.461508,1.676929,-0.228757,2.547947,-1.794369,2.941045,1.256620
914,-1.715503,-0.337870,0.026548,0.108868,0.913262,0.741234,1.783758,-0.860052,-0.767485,-0.915515
915,-2.398605,-0.941224,-1.423432,-0.130569,0.111040,-0.284917,0.010406,0.052758,-0.161407,0.231587
916,2.155582,3.206707,-0.361738,-0.131700,0.151677,-1.152076,1.060418,0.307811,0.119534,-2.268614
917,2.684677,-1.535335,0.284261,-0.888868,1.068224,0.298549,-1.400706,0.182727,0.064082,0.898696

In [35]:
finalDF=pd.concat([principalDF, data[['HeartDisease']]], axis=1)

In [36]:
finalDF

,pc1,pc2,pc3,pc4,pc5,pc6,pc7,pc8,pc9,pc10,HeartDisease
0,3.093840,-1.389294,-0.301527,-0.913843,-1.333617,-0.677974,-0.250407,-1.118541,0.015447,-0.739452,0
1,1.517506,1.787498,-1.681772,0.675366,2.602444,0.476156,-0.565643,-0.654072,0.073091,-0.068193,1
2,1.930334,-0.781069,1.468639,1.107163,-1.875514,-1.730218,-1.016885,-0.670222,0.898423,-0.806798,0
3,-1.369464,1.587755,-3.259368,0.956458,0.015208,0.082938,0.103764,0.231374,0.174221,0.557463,1
4,1.713250,-1.180750,0.563656,-0.145108,1.318013,0.481002,-1.370327,-0.694537,-1.398460,0.848194,0
...,...,...,...,...,...,...,...,...,...,...,...
913,0.592221,-0.752885,-0.091997,-1.461508,1.676929,-0.228757,2.547947,-1.794369,2.941045,1.256620,1
914,-1.715503,-0.337870,0.026548,0.108868,0.913262,0.741234,1.783758,-0.860052,-0.767485,-0.915515,1
915,-2.398605,-0.941224,-1.423432,-0.130569,0.111040,-0.284917,0.010406,0.052758,-0.161407,0.231587,1
916,2.155582,3.206707,-0.361738,-0.131700,0.151677,-1.152076,1.060418,0.307811,0.119534,-2.268614,1
917,2.684677,-1.535335,0.284261,-0.888868,1.068224,0.298549,-1.400706,0.182727,0.064082,0.898696,0

In [38]:
var=pca.explained_variance_ratio_
var

array([0.2229213 , 0.10160149, 0.09091654, 0.07216364, 0.07147803,
       0.06465803, 0.0604168 , 0.0569179 , 0.05106285, 0.04505995])

In [39]:
sum(var)

0.8371965435647578